.hide-imgur-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999999;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 50px;
}

.hide-imgur-content img {
    height: 30vh;
    padding: 3vh;
}

.hide-imgur-content h1:first-child {
    font-size: 3.5vh;
    padding-bottom: 0.6vh;
}

.hide-imgur-content p {
    font-size: 1.8vh;
}

.hide-imgur-content big {
    font-size: 6.5vh;
    font-weight: bold;
    display: inline-block;
    padding: 1.5vh;
    text-align: center;
}

.hide-imgur-content small {
    font-size: 1.4vh;
    text-align: center;
    display: inline-block;
}
